
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
}

/*------------------------------------SECTION 1: Header---------------------------------------*/

.l_navbar{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}
.l_max__width{
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.l_logo{
    flex: 1;
    display: flex;
}
.c_logo_box{
    width: 50px;
    height: 50px;
    background: #458FF6;
    border-radius: 50%;
    margin-top: 10px;
}
.c_logo_box p{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 26px;
    margin-top: 10px;
}
.l_logo h1{
    margin-left: 8px;
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #233348;
    mix-blend-mode: normal;
}
.l_menu{ flex: 1; }
.l_menu ul{ display: inline-flex; }
.l_menu ul li{ list-style-type: none; }
.l_menu ul li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color:black;
    line-height: 23px;
    opacity: 0.7;
    transition: font-size 0.5s ease;
    padding: 10px 0;
    margin-left: 60px; 
}
.l_menu ul li a:hover{ opacity: 1; }
.l_navbar.sticky{
    padding: 10px 0;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    z-index: 1;
}
.l_navbar.sticky .c_logo_box{ background-color: #FFFFFF; }
.l_navbar.sticky .c_logo_box p{ color: #458FF6; }
.l_navbar.sticky .l_logo h1{ color: #FFFFFF; }
.l_navbar.sticky .l_menu ul li a{ color: #FFFFFF; }
.l_navbar.sticky .c_icon.menu__btn{ color: #FFFFFF; }
.l_menu ul li a:hover{ opacity: 1; }
.c_icon{
    display: none;
    font-size: 25px;
    cursor: pointer;
}
.c_icon.menu__btn{
    position: absolute;
    right: 0;
    top: 28px;
    color: #233348;
}
.c_icon.cancel__btn{
    position: absolute;
    right: 30px;
    top: 30px;
    color: #FFFFFF;
}

/*-------------------------------------------Main Content---------------------------------------*/

/*--------------------------------SECTION 2: Home Content---------------------------------------*/

.l_home .l_max__width{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: -1;
}
.c_dot1{
    position: absolute;
    left: -2.5%;
    top: 18%;
    z-index: -1;
}
.l_home__content, .l_home__image{
    flex: 1;
    margin-top: 12%; 
}
.l_home .l_home__image img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.l_home .l_home__content .c_text1{
    width: 60%;
    margin-top: -8%;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px; 
}
.l_home .l_home__content .c_text2{
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: normal;
    font-size: 21px;
    line-height: 32px; 
    opacity: 0.5;
}
.l_home .l_home__content .c_btn1 a{
    width: 200px;
    height: 56px;
    background: #458FF6;
    border-radius: 55px;
    cursor: pointer;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: transform 0.2s;
}
.l_home .l_home__content .c_btn1 a:hover{
    background: white;
    color: #458FF6;
    transform: scale(1.1);
    border: 1.4px solid #458FF6;
}

/*-----------------------------------SECTION 3: Our Services---------------------------------*/

 #l_services{
    padding: 200px 0;
}
.l_service{
    position: relative;
    width: 100%;
    max-width: 1300px;  
    padding: 0 20px;
    overflow: hidden;
    margin: auto;
    z-index: 0;
}
#c_rectangle14{
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 10px;
    margin: 25px auto 40px;
}
.c_title{
    text-align: center;
    color:#000000;
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    font-weight: bold;
}
.c_text{
    text-align: center;
    margin: auto 100px;
  }
.c_text p{
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: #7D7987;
}
.l_bg__element{
    position: absolute;
    left: 0%;
    bottom: -99%;
    z-index: -2;
}
.c_dot2{
    position: absolute;
    right: 3%;
    top: 55%;
    z-index: -1;
}
.l_box__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}
.l_box{
    position: relative;
    max-width: 27.30%;
    padding:10px;
    width: 350px;
    height: 354px;
	  justify-content:center;
	  display: flex;
	  flex-direction: column;
    margin: 20px 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.l_box:hover{
  box-shadow: 0px 0px 15px #d8dcfa;
  transform: scale(1.03);
}
.c_img{
  max-height: 150px;
  max-width: 100px;
  width: 91.98px;
  height: 90px;
  margin: 0px 20px 0px ;
  margin-bottom: 20px;
}
.c_box__title{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    line-height: 56px;
    margin: 0px 20px 0px ;
}
.c_box__text{
    font-size: 16px;
    color: #7D7987;
    line-height: 28px;
    margin: 0px 20px 0px ;
}
.c_btn{
    margin-top: 50px;
    text-align: center;
}
.c_btn button{
    color: #458FF6;
    width: 200px;
    height: 56px;
    border: 1.4px solid #458FF6;  
    font-size: 18px;
    background: #FFFFFF;
    transition: transform .2s;
    border-radius: 55px;
}
.c_btn button:hover{
    background: #458FF6;
    color: #ffffff;
    transform: scale(1.1);
    border: 1.4px solid white;
} 

/*----------------------------------SECTION 4: Leading Healthcare providers--------------------------------*/

/*---------------Container3 + Container4--------------*/

.l_container3{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 75vh;
    align-items: center;
}
.l_subContainer1{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
}
.l_subContainer1 img{
    width: 100%;
    height: 100%;
    align-items: center;
}
.l_subContainer2{ flex: 1; }
.c_introText{
    margin-left: 125px;
    width: 80%;
}
.c_introText h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
}
#c_rectangle11{
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 10px;
}
.c_introText p{
    color: #7D7987;
    margin-top: 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    width: 80%;
}
.c_cta{ padding: 40px 0px 0px 125px; }
.c_cta a{
    text-decoration: none;
    color: #458FF6;
    text-align: center;
    display: inline-block;
    border-radius: 55px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    height: 56px;
    border: 1.4px solid #458FF6;
    font-weight: bold;
    font-size: 18px;
    transition: transform .2s;
}
.c_dot3{
    position: absolute;
    right: -17.5%;
    top: 83%;
    width: 150px;
    height: 150px;
    bottom: 8%;
}

  /*----------------------------------SECTION 5: Download our mobile apps------------------------------------*/

.c_introText4 p{
    color: #7D7987;
    margin-top: 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    width: 370px;
}
#c_rectangle12{
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 10px;
}
.c_cta a:hover{
    background: #458FF6;
    color: #ffffff;
    transform: scale(1.1);
    border: 1.4px solid white;
}
  
/*------------------------------SECTION 6: What our customer are saying (Slider)-----------------------------*/

.l_container{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
    z-index: 0;
    padding: 0px 20px;
    position: relative;
}
.mySlides { display: none: }
.l_sub__contianer{
    margin: auto;
    width: 90%;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    min-width: 370px;
}
.c_dot4{
    position: absolute;
    top: 65px;
    right: 98px;
    z-index: 1;
    opacity: 0.5;
}
.c_dot5{
    position: absolute;
    bottom: 100px;
    left: 40px;
    z-index: -1;
}
.l_title__box{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-top: 40px;
}
.l_title__cus{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.c_title__cus{
    font-size: 36px;
    text-align: center;
    line-height: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin: auto;
}
.c_border{
    background: #FFFFFF;
    border-radius: 6px;
    width: 56px;
    height: 2px;
    text-align: center;
    margin: 30px auto;
}
.l_content__box{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 0px 90px 0px;
}
.c_image__box{
    flex: 1.5;
    display: block;
    text-align: center;
}
.c_intro{
    flex: 1.5;
    margin-left: 20px;
}
.c_intro h1{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 30px;
}
.c_intro p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.85);
}
.c_con__text{
    flex: 3.3;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    margin: 10px 100px 0px 130px;
}
.c_image__box img{
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    background: white;
}
.l_dot4{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.c_prev, .c_next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color:  #5B9BF3;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin: auto;
    padding: 25px 100px;
    opacity: 0.5;
}
.c_prev:hover, .c_next:hover {
   opacity: 1;
}
.c_dot{
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background: #5B9BF3;
    opacity: 0.5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.move, .c_dot:hover { opacity: 1; }
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*------------------------------SECTION 7: Check out our latest article-----------------------------*/

.l_container6{
    position: relative;
    width: 75%;
    margin: auto;
    min-height: 90vh;
    align-items: center;
    margin-top: 10%;
}
.l_subContainer61{
    flex-direction: row;
    text-align: center;
}
.l_subContainer61 h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
}
.l_subContainer61 #c_rectangle13{
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    margin:20px auto;
}
.l_subContainer62{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.c_box1, .c_box__responsive, .c_box__responsive1{ flex: 1; }
.c_inside__box1{
    background: #ffffff;
    margin: auto;
    width: 350px;
    height: 512px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #f6f7fc, 5px 5px 10px #f7f8fc;
    transition: box-shadow .1s;
}
.c_inside__box1 img{ border-radius: 20px 20px 0px 0px; }
.c_content__1{ margin: 35px; }
.c_content__1 h1{
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
}
.c_content__1 p{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.c_content__1 a{
    text-decoration: none;
    color: #4089ED;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
}
.c_content__1 a i{ margin-left: 9px; }
.l_subContainer63{
    text-align: center;
    margin-top: 60px;
}
.c_dot6{
    position: absolute;
    top: 80px;
    left: 0;
    z-index: -1;
}
.c_vector img{
    position: absolute;
    right: -250px;
    top: 95px;
    z-index: -1;
}
.l_subContainer62 .c_inside__box1:hover{
    box-shadow: 0px 0px 15px #d8dcfa;
    transform: scale(1.03);
} 
.c_dot7{
    position: absolute;
    bottom: -16%;
    right: -10%;
    z-index: -1;
}

/*------------------------------------------SECTION 8: Footer---------------------------------------*/

.l_footer {
    position: relative;
    height: auto;
    width: 100%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    z-index: 0;
    margin-top: 5%;
}
.l_footer .l_max__width{
    padding: 100px 0;
    min-height: 50vh;
    justify-content: space-around; 
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.l_footer1:nth-child(1){flex: 2;}
.l_footer1:nth-child(n+2){
    flex: 1;
    margin-top: 25px;
}
.l_footer .c_logo_box{background-color: #FFFFFF;}
.l_footer .c_logo_box p{color: #458FF6;}
.l_footer .l_logo h1{
    margin-left: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.l_footer .l_footer1 .c_text2{
    width: 68%;
    margin-top: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.l_footer .l_footer1 .c_text3{
    margin-top: 35px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.l_footer .l_footer1 .c_text3 a{
    text-decoration: none;
    color: #FFFFFF;
}
.l_footer .l_footer1 .c_text1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.l_footer .l_footer1 .c_text2 a{
    color: #FFFFFF;
    text-decoration: none;
}
.l_footer .l_footer1:nth-child(n+2) .c_text2 ul{ margin-top: 45px; }
.l_footer .l_footer1:nth-child(n+2) .c_text2 li{
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    mix-blend-mode: normal;
    line-height: 40px;
}
.c_dot8{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

/*----------------------------------@media for responsive----------------------------*/

@media screen and (max-width: 1024px){
    .l_bg__element, .c_dot1, .c_dot2, .c_dot3, .c_dot4, .c_dot5 .c_dot6, .c_dot7, .c_dot8, .c_vector{ display: none; }
    .l_navbar{ margin-top: -10%; }
    .c_icon{ display: block; }
    .c_icon.hide{ display:none; }
    .l_navbar .l_menu ul{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
        display: block;
        text-align: center;     
        transition: all 0.5s ease; 
        padding: 60px 0;
        z-index: 1;
    }
    .l_navbar .l_menu ul.active{ top: 0%; }
    .c_icon.hide{ display: none; }
    .l_menu ul li a{
        width: 100%;
        color: #FFFFFF;
        padding: 50px 100px 0 0;
        font-size: 22px;
    }
    .l_home .l_max__width{ margin-top: 10%; }
    .l_home .l_max__width{ flex-direction: column; }
    .l_home .l_home__content{ margin-top: 20%; }
    
    /*-----------------------------------SECTION 3: Our Services---------------------------------*/

    .l_box{ max-width: 60%; }
    .c_text p{
        font-size: 15px;
        width: auto;
    }

    /*--------------------media container3 + container4-------------------*/

    .l_container3{
        margin-top: 30px;
        flex-direction: column;
    }
    .l_subContainer1 img{ width: 100%; }
    .c_introText h1{ font-size: 30px; }
    .c_introText p{ font-size: 15px; }
    .c_cta{
        padding: 20px 0px 0px 0px;
        margin-bottom: 50px;
    }
    .c_cta i{margin-left: 14.79px;}
    .c_introText #c_rectangle11{
        width: 60px;
        height: 2px;
    }
    .l_subContainer2 #c_rectangle12{
        width: 60px;
        height: 2px;
    }
    .c_introText{ margin: 0px; }
    .c_dot2{ display: none; }
    .l_content__box{
        flex-direction: column;
        padding: 50px;
    }
    .l_content__box .c_intro{ text-align: center; }
    .c_con__text{
        text-align: center;
        margin: 0px 10px 0px 10px;
    }
    .c_image__box{ flex: 1.5; }
    .c_prev, .c_next{ display: none; }

    /*------------SECTION 7: Check out our latest article------------*/

    .l_container6{
        flex-direction: column;
        margin-top: 60px;
    }
    .l_container61 h1{ font-size: 30px; }
    .l_subContainer61 #c_rectangle13{
        width: 60px;
        height: 2px;
    }
    .l_subContainer62 .c_box1{ padding: 20px; }
    .c_box__responsive1{ margin-top: 45px; }

    /*------------------------SECTION 8: Footer---------------------------*/

    .l_footer .l_max__width{
        padding: 100px 0 50px;
        flex-direction: column;
    }
    .l_footer1:nth-child(n+2){ margin-right: 30%; }
    .l_footer1:nth-child(1){ margin-right: 5%; }

}
@media screen and (max-width: 1300px){
    .l_home .l_home__content{ margin-top: 30%; }
    .c_box__responsive{
        margin-top: 45px;
    }
}
 @media screen and (max-width: 768px){
    .l_box{
        max-width: 100%;
    }
    .l_sub__contianer{
      margin-left: -5%;
    }
}
